<body data-preloader="2" data-spy="scroll" data-target=".navbar">
  <% description 'Website main page.' %>
  <% keywords 'Profertil, Ialos, Santes, artemis, fertilité, hyaluronique' %>
  <header>
    <nav class="navbar navbar-dark navbar-absolute navbar-fixed"><!-- add 'navbar-dark/navbar-grey/navbar-transparent/navbar-transparent-dark' -->
      <div class="container">
        <a class="navbar-brand" href="#">
          <h5>Artemis Pharma</h5>
        </a>
        <ul class="nav onepage-nav">
          <li class="nav-item">
            <a class="nav-link" href="#about">À propos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#partners">Partenaires</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#portfolio">Produits</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#services">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contact">Contact</a>
          </li>
        </ul><!-- end nav -->
        <!-- Nav Toggle button -->
        <button class="nav-toggle-btn">
                <span class="lines"></span>
            </button><!-- toggle button will show when screen resolution is less than 992px -->
      </div><!-- end container -->
    </nav>
  </header>

  <!-- Scroll to top button -->
  <div class="scrolltotop">
    <a class="button-circle button-circle-sm button-circle-dark" href="#"><i class="fa fa-arrow-up"></i></a>
  </div>
  <!-- end Scroll to top button -->

  <!-- Home section -->
  <div class="section-fullscreen bg-image parallax" data-bg-src="https://res.cloudinary.com/darri/image/upload/f_auto,q_auto/v1584811708/Artemispharma/bg-pills.jpg">
    <div class="bg-black-06">
      <div class="container text-center">
        <div class="position-middle">
          <h1 class="display-4 font-weight-bold">Votre santé est notre priorité</h1>
        </div>
        <!-- smoothscroll button -->
        <div class="position-bottom">
          <a class="button-circle button-circle-lg button-border-1px button-circle-outline-white smoothscroll icon-lg" href="#about">
            <i class="fa fa-arrow-down"></i>
          </a>
        </div>
      </div><!-- end container -->
    </div>
  </div>
  <!-- end Home section -->

  <!-- About section -->
  <div id="about" class="section">
    <div class="container">
      <div class="section-title text-center">
        <h2 class="font-weight-normal">Qui sommes-nous ?</h2>
      </div>
      <div class="row">
        <div class="col-12 col-md-6">
          <p align="justify">Artemis Pharma a été fondée en 2011. Notre société est spécialisée dans la commercialisation de produits parapharmaceutiques et de dispositifs médicaux. Malgré son jeune âge sur le marché pharmaceutique, Artemis s'est distinguée en Tunisie par sa croissance rapide grâce aux compétences et expertises de sa jeune équipe dynamique.</p>
        </div>
        <div class="col-12 col-md-6">
          <p align="justify"> Actuellement, Artemis dispose d’un portefeuille de produits éprouvés et de haute qualité ainsi que d’un large réseau commercial. Artemis Pharma ne cesse de s’élargir et de se développer dans les différentes spécialités médicales et pharmaceutiques.</p>
        </div>
      </div><!-- end row -->
    </div><!-- end container -->
  </div>
  <!-- end About section -->

  <!-- Image Slider -->
  <div class="section padding-top-0">
    <div class="container">
      <div class="owl-carousel owl-dots-overlay" data-owl-items="1" data-owl-nav="true">
        <!-- Slider Image 1 -->
        <div>
          <img src="https://res.cloudinary.com/darri/image/upload/f_auto,q_auto/v1584808021/Artemispharma/carousel-img1.jpg" alt="">
        </div>
        <!-- Slider Image 2 -->
        <div>
          <img src="https://res.cloudinary.com/darri/image/upload/f_auto,q_auto/v1584808029/Artemispharma/carousel-img2.jpg" style="max-height:720px;">
        </div>
        <!-- Slider Image 3 -->
        <div>
          <img src="https://res.cloudinary.com/darri/image/upload/f_auto,q_auto/v1584808019/Artemispharma/carousel-img3.jpg" alt="">
        </div>
        <!-- Slider Image 4 -->
        <div>
          <img src="https://res.cloudinary.com/darri/image/upload/f_auto,q_auto/v1584808019/Artemispharma/carousel-img4.jpg" style="max-height:720px;">
        </div>
      </div><!-- end owl-carousel -->
    </div><!-- end container -->
  </div>
  <!-- end Image Slider -->

  <!-- Clients section -->
  <div id="partners" class="section bg-dark-lightest">
    <div class="container">
      <div class="row"  data-owl-dots="false" data-owl-nav="true" data-owl-margin="30" data-owl-autoplay="true" data-owl-xs="1" data-owl-sm="2" data-owl-md="3" data-owl-lg="4" data-owl-xl="6">
        <!-- Client box 1 -->
        <div class="client-box col col-sm-6">
          <a href="https://lenuspharma.com/" target="_blank">
            <img src="https://res.cloudinary.com/darri/image/upload/f_auto,q_auto/v1584808018/Artemispharma/lenus-logo.png" style="max-height: 50%;">
          </a>
        </div>
        <!-- Client box 2 -->
        <div class="client-box col col-sm-6">
          <a href="https://lolipharmainternational.com/"  target="_blank">
            <img src="https://res.cloudinary.com/darri/image/upload/f_auto,q_auto/v1584808021/Artemispharma/loli-logo.png" style="max-height: 70%;">
          </a>
        </div>
      </div><!-- end owl-carousel -->
    </div><!-- end container -->
  </div>
  <!-- end Clients section -->

  <!-- Portfolio section -->
  <div id="portfolio" class="section">
    <div class="container">
      <!-- Portfolio filter -->
      <div class="filter filter-style-4 text-center">
        <ul>
          <li class="active" data-filter="*">Toutes les gammes</li>
          <li data-filter=".category-1">Gynécologie</li>
          <li data-filter=".category-2">Urologie</li>
          <li data-filter=".category-3">Dermatologie</li>
        </ul>
      </div>
      <!-- end Portfolio filter -->
      <div class="row portfolio-wrapper spacing-10 hover-style-4">
        <!-- Portfolio box 1 -->
        <div class="col-12 col-md-6 col-lg-6 portfolio-item category-1 category-2">
          <div class="portfolio-box">
            <div class="portfolio-img">
              <img src="https://res.cloudinary.com/darri/image/upload/f_auto,q_auto/v1584808029/Artemispharma/product-profertil-m.png" style="width: 60%;"><!-- Image source -->
            </div>
            <a href="" data-toggle="modal" data-target="#profertilModal" ></a><!-- Portfolio Single link -->
            <div class="portfolio-title">
              <div>
                <h6 class="font-weight-normal">PROFERTIL</h6>
              </div>
            </div>
          </div>
        </div>
        <!-- Portfolio box 2 -->
        <div class="col-12 col-md-6 col-lg-6 portfolio-item category-1">
          <div class="portfolio-box">
            <div class="portfolio-img">
              <img src="https://res.cloudinary.com/darri/image/upload/f_auto,q_auto/v1584808031/Artemispharma/product-profertil-f.png" style="width: 80%;"><!-- Image source -->
            </div>
            <a href="" data-toggle="modal" data-target="#profertilFModal" ></a><!-- Portfolio Single link -->
            <div class="portfolio-title">
              <div>
                <h6 class="font-weight-normal">PROFERTIL FEMALE</h6>
              </div>
            </div>
          </div>
        </div>
        <!-- Portfolio box 3 -->
        <div class="col-12 col-md-6 col-lg-6 portfolio-item category-1 category-2 category-3">
          <div class="portfolio-box">
            <div class="portfolio-img">
              <img src="https://res.cloudinary.com/darri/image/upload/f_auto,q_auto/v1584808021/Artemispharma/product-ialos.png"  style="width: 58%;"><!-- Image source -->
            </div>
            <a href="" data-toggle="modal" data-target="#ialosModal" ></a><!-- Portfolio Single link -->
            <div class="portfolio-title">
              <div>
                <h6 class="font-weight-normal">IALOS</h6>
              </div>
            </div>
          </div>
        </div>
        <!-- Portfolio box 4 -->
        <div class="col-12 col-md-6 col-lg-6 portfolio-item category-1 category-2 category-3">
          <div class="portfolio-box">
            <div class="portfolio-img">
              <img src="https://res.cloudinary.com/darri/image/upload/f_auto,q_auto/v1584809667/Artemispharma/product-santes.png" style="width: 80%; padding-top: 30px;"><!-- Image source -->
            </div>
            <a href="" data-toggle="modal" data-target="#santesModal" ></a><!-- Portfolio Single link -->
            <div class="portfolio-title">
              <div>
                <h6 class="font-weight-normal">SANTES</h6>
              </div>
            </div>
          </div>
        </div>
      </div><!-- end row/portfolio-wrapper-->
    </div><!-- end container -->
  </div>
  <!-- end Portfolio section -->

  <!-- Play video section -->
  <div class="section-2xl bg-image parallax" data-bg-src="https://res.cloudinary.com/darri/image/upload/f_auto,q_auto/v1584808029/Artemispharma/video-profertil-bg.jpg">
    <div class="bg-black-05">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-12 col-md-6">
            <h1 class="line-height-150 margin-0">Profertil à travers le monde </h1>
          </div>
          <div class="col-12 col-md-6 text-md-right">
            <!-- <a class="button-circle button-circle-xl button-border-1px button-circle-white button-circle-animation-drop margin-top-20 popup-youtube" data-youtube-src="#" allow="autoplay" href="#"><i class="fa fa-play"></i></a> -->
          </div>
        </div><!-- end row -->
      </div><!-- end container -->
    </div>
  </div>
  <!-- end Play video section -->

  <!-- Services section -->
  <div id="services" class="section">
    <div class="container text-center">
      <div class="section-title">
        <h2 class="font-weight-normal">Nos services</h2>
      </div>
      <div class="row icon-5xl">
        <!-- Icon text box 1 -->
        <div class="col-12 col-md-4">
          <i class="fa fa-star text-dark"></i>
          <h5 class="font-weight-normal margin-top-20">Promotion</h5>
          <p>Promotion et distribution des meilleurs produits de santé</p>
        </div>
        <!-- Icon text box 2 -->
        <div class="col-12 col-md-4">
          <i class="fa fa-rocket text-dark"></i>
          <h5 class="font-weight-normal margin-top-20">Expertise</h5>
          <p>Un savoir scientifique et une expertise technique dans le domaine pharmaceutique</p>
        </div>
        <!-- Icon text box 3 -->
        <div class="col-12 col-md-4">
          <i class="fa fa-globe text-dark"></i>
          <h5 class="font-weight-normal margin-top-20">Partenariat</h5>
          <p>Un partenariat avec des laboratoires de renommée internationale</p>
        </div>
      </div><!-- end row -->
    </div><!-- end container -->
  </div>
  <hr>
  <!-- end Services section -->



  <!-- Contact section -->
  <div id="contact" class="section">
    <div class="container">
      <div class="section-title text-center">
        <h2 class="font-weight-normal">Contactez-nous</h2>
      </div>
      <div class="row">
        <div class="col-12 col-md-4">
          <div class="margin-bottom-30">
            <h6 class="font-weight-normal margin-0">Tél:</h6>
            <p>(+216) 71813772</p>
          </div>
          <div class="margin-bottom-30">
            <h6 class="font-weight-normal margin-0">Fax:</h6>
            <p>(+216) 32404797</p>
          </div>
          <div class="margin-bottom-30">
            <h6 class="font-weight-normal margin-0">Email:</h6>
            <p>info@artemispharma.com.tn</p>
          </div>
          <div>
            <h6 class="font-weight-normal margin-0">Adresse:</h6>
            <p>53 Rue Bahi Ladgham, Ennasr 2, 2037, Ariana, Tunisie</p>
          </div>
        </div>
        <div id="contact" class="col-12 col-md-8 text-md-right">
            <%= render :partial => 'contacts/form' %>
        </div>
    </div><!-- end container -->
  </div>
  </div>

  </div>
  <!-- end Contact section -->


  <!-- Google Maps -->


  <div class="section padding-top-0">
    <div class="container">
      <div id="map" class="gmap gmap-md"></div>
    </div><!-- end container -->
  </div>
  <!-- end Google Maps -->

  <footer>
    <div class="section-sm bg-dark">
      <div class="container">
        <div class="row col-spacing-40">
          <div class="col-12 col-md-6 col-lg-3">
            <h3>Artemis Pharma</h3>
          </div>
          <div class="offset-lg-2 col-12 col-md-6 col-lg-3">
            <h6 class="font-family-tertiary font-small font-weight-normal uppercase">Liens utiles</h6>
            <ul class="list-dash">
              <li><%= link_to "À propos", root_path(:anchor => "about"), data: { turbolinks: false } %></li>
              <li><%= link_to "Partenaires", root_path(:anchor => "partners"), data: { turbolinks: false } %></li>
              <li><%= link_to "Produits", root_path(:anchor => "portfolio"), data: { turbolinks: false } %></li>
              <li><%= link_to "Services", root_path(:anchor => "services"), data: { turbolinks: false } %></li>
              <li><%= link_to "Contact", root_path(:anchor => "contact"), data: { turbolinks: false } %></li>
            </ul>
          </div>
          <div class="col-12 col-md-6 col-lg-4">
            <h6 class="font-family-tertiary font-small font-weight-normal uppercase">Contact Info</h6>
            <ul class="list-unstyled">
              <li>Adresse: 53 Rue Bahi Ladgham <br>Ennasr 2, 2037, Ariana, Tunisie</li>
              <li>Email: info@artemispharma.com.tn</li>
              <li>Tél: (+216) 71813772</li>
              <li>Fax: (+216) 32404797</li>
            </ul>
          </div>
        </div><!-- end row(1) -->

        <hr class="margin-top-50 margin-bottom-30">

        <div class="row">
          <div class="col-12 col-md-6 text-center text-md-left">
            <small class="block">Copyright © <script>document.write(new Date().getFullYear());</script> All rights reserved.  <br>Developed by <a href="mailto:triki.nizar@gmail.com" target="_blank">WebStuff</a></small>
          </div>
        </div><!-- end row(2) -->
      </div><!-- end container -->
    </div>
  </footer>

  <!-- Modal Profertil-->
  <div class="modal fade" id="profertilModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title font-weight-bold" id="exampleModalLabel">PROFERTIL</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
        <h6>COMPOSITION : </h6>
        L-CARNITINE, L-ARGININE, GLUTATHION, SELENIUM, ZINC, COENZYME Q10, ACIDE FOLIQUE,  VITAMINE E. <br><br>
        <h6>DESCRIPTIF :</h6>
        PROFERTIL EST LE MEILLEUR PRODUIT DE FERTILITE MASCULINE.<br><br>
        GRACE A SA COMPOSITION SPECIFIQUE, PROFERTIL PERMET D’AMELIORER LE NOMBRE, LA MOBILITE, LA MORPHOLOGIE ET LE VOLUME DU SPERME.<br><br>
        PROFERTIL PERMET DE PREVENIR LA FRAGMENTATION DE L’ADN DES SPERMATOZOIDES REDUISANT AINSI LES RISQUES DE FAUSSES COUCHES ET DE GROSSESSES ARRETEES.<br><br>
        PROFERTIL A 6 ETUDES CLINIQUES REALISEES SUR PLUS DE 1000 PATIENTS PUBLIEES DANS DES REFERENCES DE RENOMMEE MONTRANT UN TAUX DE GROSSESSE SPONTANNEE ENTRE 26 ET 41%.<br><br>
        PROFERTIL AUGMENTE LES CHANCES DE SUCCES EN PROCREATION MEDICALEMENT ASSISTEE (PMA).<br><br>
        PROFERTIL EST RECOMMANDE PAR LES EXPERTS DE LA FERTILITE A TRAVERS LE MONDE DANS PLUS DE 70 PAYS AVEC PLUS DE 1.000.000 DE THERAPIES PAR AN.<br><br>
        PROFERTIL A UNE FORMULE BREVETEE. IL EST COMPOSE DE MATIERES PREMIERES DE HAUTE QUALITE ET IL EST PRODUIT SELON LES NORMES DE PRODUCTION GMP (GOOD MANUFACTURING PRACTICES).<br><br>
        <h6>MODE D’UTILISATION :</h6>
        PROFERTIL EST FACILE A PRENDRE, 2 GELULES PAR JOUR EN PRISE UNIQUE PENDANT AU MOINS 3 MOIS ET JUSQU'A LA GROSSESSE. <br><br>
        </div>
        <div class="modal-footer">
          <h6>Où acheter ce produit ?</h6>
          <div class="vendors">
            <a href="https://www.pharma-shop.tn/fertilite-homme/1165-profertil-60-capsules.html" target="_blank">pharma-shop.tn</a>
            <a href="https://www.tunisiepara.com/shop/profertil-60-capsules" target="_blank">tunisiepara.com</a>
            <a class="last" href="http://1001para.tn/accueil/1367-profertil-homme-boite-de-60-gelules.html" target="_blank">1001para.tn</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Profertil Female-->
  <div class="modal fade" id="profertilFModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title font-weight-bold" id="exampleModalLabel">PROFERTIL FEMALE</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
        <h6>COMPOSITION : </h6>
        GLYCYRRHIZINE, CATECHINE, OMEGA 3, ACIDE FOLIQUE, VITAMINE E, COENZYME Q10, SELENIUM. <br><br>
        <h6>DESCRIPTIF :</h6>
        PROFERTIL FEMALE EST LE MEILLEUR PRODUIT DE FERTILITE FEMININE. IL RESTAURE LA FERTILITE DE LA FEMME ET AUGMENTE LES CHANCES DE GROSSESSE. <br><br>
        PROFERTIL FEMALE EST INDIQUE POUR LES FEMMES DESIRANT UNE GROSSESSE ET/OU AYANT LE SYNDROME DES OVAIRES POLYKYSTIQUES (SOPK). <br><br>
        PROFERTIL FEMALE AIDE A AVOIR UN CYCLE REGULIER, UNE BONNE QUALITE OVOCYTAIRE ET UN ENDOMETRE FAVORABLE A L’IMPLANTATION.	<br><br>
        PROFERTIL FEMALE REDUIT LES RISQUES DE FAUSSES COUCHES.<br><br>
        PROFERTIL FEMALE AUGMENTE LES CHANCES DE SUCCES EN PROCREATION MEDICALEMENT ASSISTEE (PMA).<br><br>
        PROFERTIL FEMALE A 3 ETUDES CLINIQUES PUBLIEES DANS DES REFERENCES DE RENOMMEE.<br><br>
        PROFERTIL FEMALE EST RECOMMANDE PAR LES EXPERTS DE LA FERTILITE A TRAVERS LE MONDE DANS PLUS DE 70 PAYS.<br><br>
        <h6>MODE D’UTILISATION :</h6>
        PROFERTIL FEMALE EST FACILE A PRENDRE, 1 COMPRIME ET 1 GELULE PAR JOUR EN PRISE UNIQUE DES LE DESIR DE CONCEVOIR JUSQU'A LA GROSSESSE.<br><br>

        </div>
        <div class="modal-footer">
          <h6>Où acheter ce produit ?</h6>
          <div class="vendors">
            <a href="https://www.pharma-shop.tn/fertilite-femme/1168-profertil-female-28-capsules-28-tablettes.html" target="_blank">pharma-shop.tn</a>
            <a href="https://www.tunisiepara.com/shop/profertil-female-28-capsules-28-tablettes" target="_blank">tunisiepara.com</a>
            <a class="last" href="http://1001para.tn/accueil/1368-profertil-femme-boite-de-28-gelules.html?search_query=profertil&results=2" target="_blank">1001para.tn</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Ialos-->
  <div class="modal fade" id="ialosModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title font-weight-bold" id="exampleModalLabel">IALOS</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
        <h6>COMPOSITION : </h6>
        ACIDE HYALURONIQUE PAR VOIE ORALE.<br><br>
        <h6>DESCRIPTIF :</h6>
        L’ACIDE HYALURONIQUE UTILISE DANS IALOS EST UN ACIDE HYALURONIQUE A ULTRA BAS POIDS MOLECULAIRE QUI GARANTIT UNE BONNE ABSORPTION. <br><br>
        IALOS EST UN LUBRIFIANT ET CICATRISANT POUR LA MUQUEUSE VAGINALE (SECHERESSE, DYSPAREUNIE, LESIONS POST MYCOSIQUES, FROTTIS INFLAMMATOIRES…). <br><br>
        IALOS A UNE ACTION AUSSI SUR LA VESSIE ET PERMET DE REDUIRE LES TROUBLES URINAIRES CHEZ LES PERSONNES AGEES. <br><br>
        IALOS A UN EFFET SUR LA PEAU : <br>
        - IALOS PERMET L’HYDRATATION DES COUCHES PROFONDES DE LA PEAU. <br>
        - IALOS A UN EFFET ANTI-AGE ET ANTI-RIDES. <br>
        - IALOS AIDE A LA CICATRISATION EN CAS DE BRULURES, CICATRICES, ECZEMA, ACNE ET VERGETURES. <br>
        - IALOS PROPOSE UNE REPONSE INTERNE AU PHENOMENE DE VIEILLISSEMENT, IL RENFORCE AINSI L’ACTION DES COSMETIQUES ANTI-AGE. <br><br>
        <h6>MODE D’UTILISATION :</h6>
        1 A 2 COMPRIMES PAR JOUR PENDANT 3 MOIS. A RENOUVELER EN CAS DE BESOIN.
        </div>
        <div class="modal-footer">
          <h6>Où acheter ce produit ?</h6>
          <div class="vendors">
            <a href="https://www.pharma-shop.tn/digestion-et-transit/5255-ialos-complement-alimentaire-20-comprimes.html?search_query=ialos&results=1" target="_blank">pharma-shop.tn</a>
            <a href="https://www.tunisiepara.com/shop/ialos-capsules" target="_blank">tunisiepara.com</a>
            <a class="last" href="http://1001para.tn/recherche?controller=search&orderby=position&orderway=desc&search-cat-select=0&search_query=ialos&submit_search=" target="_blank">1001para.tn</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Santes-->
  <div class="modal fade" id="santesModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title font-weight-bold" id="exampleModalLabel">SANTES</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
        <h6>COMPOSITION : </h6>
        OVULES GYNECOLOGIQUES A BASE D’ACIDE HYALURONIQUE, VITAMINE A ET VITAMINE E. <br><br>
        <h6>DESCRIPTIF :</h6>
        L’ACIDE HYALURONIQUE UTILISE DANS SANTES EST UN ACIDE HYALURONIQUE A TRES BAS POIDS MOLECULAIRE QUI GARANTIT UNE BONNE DIFFUSION A TRAVERS LA MUQUEUSE VAGINALE. <br><br>
        SANTES EST UN LUBRIFIANT ET CICATRISANT POUR LA MUQUEUSE VAGINALE (SECHERESSE, DYSPAREUNIE, LESIONS POST MYCOSIQUES, FROTTIS INFLAMMATOIRES…).<br><br>

        <h6>MODE D’UTILISATION :</h6>
        1 OVULE LE SOIR PENDANT 14 JOURS. A RENOUVELER EN CAS DE BESOIN.
        </div>
        <div class="modal-footer">
          <h6>Où acheter ce produit ?</h6>
          <div class="vendors">
            <a href="https://www.pharma-shop.tn/complements-alimentaires/3896-santes-14-ovules-vginaux.html?search_query=santes&results=1" target="_blank">pharma-shop.tn</a>
            <a href="https://www.tunisiepara.com/?s=santes&post_type=product" target="_blank">tunisiepara.com</a>
            <a class="last" href="http://1001para.tn/recherche?controller=search&orderby=position&orderway=desc&search-cat-select=0&search_query=santes&submit_search=" target="_blank">1001para.tn</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- ***** JAVASCRIPTS ***** -->
  <script>
    mapboxgl.accessToken = 'pk.eyJ1IjoibnRyaWtpIiwiYSI6ImNrN3J6cTZ4NDBpanIzZW91ZGk5emdzNXoifQ.WGWfa-jdOw5K5EjoyoikzQ';
    mapboxgl.setRTLTextPlugin(
      'https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-rtl-text/v0.2.3/mapbox-gl-rtl-text.js',
      null,
      true // Lazy load the plugin
      );

      var map = new mapboxgl.Map({
      container: 'map',
      style: 'mapbox://styles/mapbox/streets-v11',
      center: [10.145670, 36.858793],
      zoom: 14,
      interactive: false
      });
      // disable map zoom when using scroll
      map.scrollZoom.disable();
      var marker = new mapboxgl.Marker()
      .setLngLat([10.145670, 36.858793])
      .addTo(map);
  </script>
</body>
